@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;0,600;1,900&display=swap");

:root {
  --button: #18dcff;
  --black: #000;
  --white: #fff;
  --searchBar: #17c0eb;
  --cancelButton: #ff4d4d;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}
body {
  background: var(--white);
  color: var(--black);
}
img {
  max-width: 100%;
}
